.container {
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: #000000a8;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.wrapper {
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  border-radius: 5rem 0;
  box-shadow: 1rem 1rem .5rem gray;
  border-right: 1rem solid rgb(0, 0, 0);
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  font-size: larger;
  font-weight: bolder;
}
.model-content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.51rem;
}
.smaller-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.smaller-info label {
  font-size: x-large;
  font-weight: bolder;
}
